body {
  background-color: rgb(30, 30, 30);
  color:white;
  font-family:sans-serif;system-ui;
}
.topbar {
  left:0px;
  top:0px;
  position: sticky;
  height:70px;
  width:100%;
  box-shadow: 0px 5px 1px darkgray;
  background-color:rgb(50, 50, 50)
}
.icontb {
  position:absolute;
  height:60px;
  width:60px;
  left:5px;
  top:5px;
  cursor:pointer;
}
button {
  background-color:rgb(80, 80, 80);
  outline:none;
  border:white;
  cursor:pointer;
  border-radius: 5px;
  color:white;
}
button:hover{
  background-color:rgb(100 100, 100)
}
.loginbttn{
  position:absolute;
  top:15px;
  right:15px;
  width:100px;
  height:40px;
  font-size:15pt;
}.signupbttn{
  position:absolute;
  top:15px;
  right:130px;
  width:100px;
  height:40px;
  font-size:15pt;
}
.toolbarlink {
  font-size:20pt;
  position:absolute;
  text-decoration: none;
  color:white;
}
.toolbarlink:hover {
  text-decoration: underline;
}
#tbl1{
  left:90px;
  bottom:20px;
}
#tbl2{
  left: 180px;
  bottom:20px;
}